/*
SPDX-FileCopyrightText: 2021 Romain Vigier <contact AT romainvigier.fr>
SPDX-License-Identifier: GPL-3.0-or-later
*/

@define-color accent_color #813d9c;
@define-color accent_bg_color @accent_color;
@define-color accent_fg_color #fff;

window
{
	background: linear-gradient(180deg, @accent_bg_color 0px, @accent_bg_color 20px, @theme_bg_color 20px);
}

window.dialog,
window.flat
{
	background: @theme_bg_color;
}

headerbar:not(.flat)
{
	background-color: @accent_bg_color;
	color: @accent_fg_color;
}

headerbar:not(.flat) button:focus
{
	outline-color: alpha(@accent_fg_color, 0.5);
}

window.flat headerbar
{
	border-bottom: 1px solid @theme_bg_color;
	transition: border 0.4s;
}

window.flat.scrolled headerbar
{
	border-bottom: 1px solid @borders;
}

.help-button
{
	transition: margin 0.1s, border-radius 0.1s;
}

.help-button.small
{
	border-radius: 0;
}

.help-button:not(.small)
{
	margin: 0 18px 18px;
}

.file-list
{
	background: none;
	transition: all 0.2s ease-out;
}

.file-list:not(.small)
{
	padding: 30px;
}

.file-list row
{
	padding: 0;
	border-color: @borders;
	transition: all 0.2s ease-out;
}

.file-list row:hover
{
	background: none;
}

.file-list.small row
{
	padding-left: 6px;
	border-bottom: 1px solid @borders;
	background: @card_bg_color;
}

.file-list.small row:dir(rtl)
{
	padding-left: 0;
	padding-right: 6px;
}

.file-list row:selected
{
	background: unset;
}

.file-list .file
{
	border: 1px solid @borders;
	border-width: 0;
	border-radius: unset;
	background: unset;
	font-weight: unset;
	transition: all 0.2s ease-out;
}

.file-list:not(.small) .file
{
	border-width: 0 1px 1px;
	background: @card_bg_color;
}

.file-list:not(.small) row:first-child .file
{
	border-width: 1px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.file-list:not(.small) row:last-child .file
{
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.file-list:not(.small) row:selected .file,
.file-list.small row:selected
{
	background: alpha(@card_fg_color, 0.1);
}

.file-list .file:hover
{
	background-image: image(alpha(@card_fg_color, 0.03));
}

.file-list .file:active
{
	background-image: image(alpha(@card_fg_color, 0.08));
}

.file-list.small row:hover .file
{
	box-shadow: inset 1px 0 0 0 @borders;
}

.file-list.small row:hover .file:dir(rtl)
{
	box-shadow: inset -1px 0 0 0 @borders;
}

.metadata-list
{
	background: none;
}

.metadata-list row
{
	border: 1px solid @borders;
	border-top-width: 0;
	background: @card_bg_color;
}

.metadata-list row:first-child
{
	border-width: 1px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.metadata-list row:last-child
{
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.badge
{
	border-radius: 11px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.badge.flat
{
	background: none;
	color: @theme_fg_color;
}

.badge label
{
	margin: 0 6px;
}

.badge.metadata
{
	background-color: @accent_color;
}

.badge.warning
{
	background-color: @warning_color;
}

.badge.error
{
	background-color: @error_color;
}

.badge.success
{
	background-color: @success_color;
}

.badge label
{
	padding: 0 0.4em;
}

.outbutton.gitlab
{
	background-color: rgba(250, 112, 53, 1);
	color: #fff;
}

.outbutton.liberapay
{
	background-color: rgba(246, 201, 21, 0.8);
	color: #1a171b;
}

.outbutton.matrix
{
	background-color: rgba(129, 61, 156, 0.8);
	color: #fff;
}

.outbutton.weblate
{
	background-color: rgba(46, 204, 170, 0.8);
	color: #fff;
}

.app-icon
{
	-gtk-icon-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
